
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="~/js/User.js"></script>
}

@functions {
    public string GetRolDescription(int? rol)
    {
        return rol switch
        {
            1 => "Root",
            2 => "Admin",
            3 => "Colaborador"
        };
    }
    public string GetStatus(int? activo)
    {
        return activo switch
        {
            0 => "Inactivo",
            1 => "Activo",
        };
    }
}

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
        <h5 class="card-title">Lista de Usuarios</h5>
            <a href="@Url.Action("CreateUser", "User")" class="btn-insertar">Crear Usuario</a>
        </div>
        <div class="table-responsive">
            <table id="user-table" style="text-align: center; vertical-align: middle;" class="table text-nowrap align-middle mb-0">
                <thead style="text-align: center;">
                    <tr class="border-2 border-bottom border-primary border-0">
                        <th>#</th>
                        <th>Identificación</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Fecha de nacimiento</th>
                        <th>Foto de perfil</th>
                        <th>Rol</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                        <tr>
                            <td>@(i + 1)</td> <!-- Aquí mostramos el índice incrementado -->
                            <td class="text-center">@Model[i].cedula</td>
                            <td>@Model[i].nombre @Model[i].primer_apellido @Model[i].segundo_apellido</td>
                            <td>@Model[i].correo</td>
                            <td>@(Model[i].telefono ?? "Sin registro")</td>
                            <td>@(Model[i].fecha_nacimiento?.ToString("dd/MM/yyyy") ?? "Sin registro")</td>
                            <td>
                                <img src="@Model[i].ruta_imagen" width="80px" alt="Imagen del usuario" />
                            </td>
                            <td>@GetRolDescription(Model[i].id_rol)</td>
                            <td>@GetStatus(Model[i].activo)</td>
                            <td>
                                <a href="@Url.Action("UpdateUser","User", new { cedula = Model[i].cedula })" class="btn">
                                    <i class="fa fa-edit" style="font-size:1.6em; color: #eaaa27;"></i>
                                </a>
                                <a id="AbrirModal" href="#" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                   data-consecutivo="@Model[i].cedula" data-nombre="@Model[i].nombre">
                                    <i class="fa fa-ban" style="font-size:1.6em; color: red"></i>
                                </a>
                            </td>
                        </tr>
                        }

                </tbody>
            </table>
        </div>
    </div>
</div>